<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>OnePost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
        <ion-item>
          <ion-avatar slot="start">
            <!-- <img src="{{post.userProfileUrl}}"> -->
            <img src="/assets/instagram.png">
          </ion-avatar>
          <!-- <ion-label>{{post.username}}</ion-label> -->
          <ion-label>username</ion-label>
        </ion-item>
        <img src="/assets/exia.jpg">          
        <!-- <img src="{{post.pictureUrl}}">           -->
        <ion-card-content>
          <!-- <ion-label class="bold-ah">{{post.username}}</ion-label>
          {{post.caption}} -->
        </ion-card-content>
        <!-- <ion-datetime id="dynamicDisabled" readonly="true" displayFormat="DDDD MMM D, YYYY" disabled
          value="{{post.date}}"></ion-datetime> -->
      </ion-card>
</ion-content>
