<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center">
        <div class="ion-text-center ion-padding">
          <!-- <ion-avatar class="logo"> -->
          <img class="logo" src="https://i.pinimg.com/originals/ff/0e/20/ff0e20de4718fe14cdd256c81c5db771.png">
          <!-- </ion-avatar> -->
        </div>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="" size-md="6" size-lg="6" size-xs="12">
        <p>
          Insta Mimic is a simple mobile application that attempts to immitate
          Instagram.
        </p>
        <p>
          This application is build for the course
          Mobile Technology (2019 MOD002663 TRI1 F01HCT).
        </p>
        <p>
          The purpose of this application is to learn about this subject through
          building functionality that can simulate how existing application works.
        </p>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>