<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="">

  <div class="ion-text-center">
    <h3>Create your account!</h3>
  </div>

  <ion-grid class="">
    <ion-row class="">
      <ion-col class="">
        <form #form="ngForm" (ngSubmit)="prepareRegister()">
          <ion-item>
            <ion-input name="username" type="text" placeholder="Username" [(ngModel)]="txtUsername" required
              (ngModelChange)="validateUsername()">
            </ion-input>
          </ion-item>
          <small class="ion-padding-left" class="error-message">{{txtValidateUsername}}</small>
          <ion-item>
            <ion-input name="email" type="email" inputmode="email" placeholder="your@email.com" [(ngModel)]="txtEmail"
              required (ngModelChange)="validateEmail()" [pattern]="pattern">
            </ion-input>
          </ion-item>
          <small class="ion-padding-left" class="error-message">{{txtValidateEmail}}</small>
          <ion-item>
            <ion-input name="name" type="text" placeholder="your name" [(ngModel)]="txtName"></ion-input>
          </ion-item>

          <ion-item class="">
            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="txtPassword" required
              (ngModelChange)="validatePassword()" minlength="5">
            </ion-input>
          </ion-item>
          <small class="ion-padding-left" class="error-message">{{txtValidatePassword}}</small>
          <ion-item class="">
            <ion-input name="confirm" type="password" placeholder="Password" [(ngModel)]="txtConfirm" required
              (ngModelChange)="validateConfirm()" minlength="5">
            </ion-input>
          </ion-item>
          <small class="ion-padding-left" class="error-message">{{txtValidateConfirm}}</small>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Sign Up</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>