<ion-header>
  <ion-toolbar>
    <ion-icon name="logo-instagram" size="large" slot="start" class="ion-padding-start"></ion-icon>
    <ion-title>InstaMimic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="" size-md="6" size-lg="5" size-xs="12">
        <ion-card *ngFor="let post of posts">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{post.userProfileUrl}}">
            </ion-avatar>
            <ion-label>{{post.username}}</ion-label>
          </ion-item>
          <img src="{{post.pictureUrl}}">          
          <ion-card-content>
            <ion-label class="bold-ah">{{post.username}}</ion-label>
            {{post.caption}}
          </ion-card-content>
          <ion-datetime id="dynamicDisabled" readonly="true" displayFormat="DDDD MMM D, YYYY" disabled
            value="{{post.date}}"></ion-datetime>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>