<ion-content color="" class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center ion-padding">
            <h3 (click)="changeIP()">Insta Mimic</h3>
            <ion-spinner *ngIf="isCheckingApi" name="dots"></ion-spinner>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="username" type="text" placeholder="username" [(ngModel)]="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" required>
              </ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Sign In</ion-button>
          </div>
          <div class="ion-padding">
            <ion-item-divider>
            </ion-item-divider>
          </div>
          <div class="ion-padding ion-text-center">
            <ion-label>Don't have an account? </ion-label>
          </div>
          <div class="ion-text-center">
            <ion-button size="small" color="light" [routerLink]="['/tp-register']"
              routerLinkActive="router-link-active">Sign Up</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>