<ion-header>
  <ion-toolbar>
    <ion-title>{{txtUsername}}</ion-title>
    <!-- <ion-button [routerLink]="['/']" routerLinkActive="router-link-active">logout</ion-button> -->
    <ion-button size="small" slot="end" color="tertiary" [routerLink]="['/home']" routerLinkActive="router-link-active">home</ion-button>
    <ion-button color="light" slot="end" (click)="logOut()">
      <ion-label color="primary">Log Out</ion-label>
      <ion-icon color="primary" name="log-out" size="default" slot="end"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
              <ion-avatar>
                  <img src="{{txtSrcProfileImage}}">
              </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row>
                Posts
            </ion-row>
            <ion-row>
                100
            </ion-row>
          </ion-col>
          <ion-col>
              <ion-row>
                  Followers
              </ion-row>
              <ion-row>
                  999
              </ion-row>
          </ion-col>
          <ion-col>
              <ion-row>
                  Following
              </ion-row>
              <ion-row>
                  1111
              </ion-row>
          </ion-col>
        </ion-row>
    </ion-grid>
    
      
    
<!-- first set should be a row -->



<ion-segment color="primary">
  <ion-segment-button value="posts" selected>
    <ion-icon name="grid"></ion-icon>    
  </ion-segment-button>
  <ion-segment-button value="tagged">
      <ion-icon name="contacts"></ion-icon>
    </ion-segment-button>
  <ion-segment-button value="bookmark">
    <ion-icon name="bookmark"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-grid >
  <ion-row >
      
      <ion-col col-4 >
        <img src="/assets/testpic.jpg">
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
