<ion-header>
  <ion-toolbar>
    <ion-title>
      Main Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tp2']" routerLinkActive="router-link-active" >
            
            
    <ion-card-header>
        <ion-thumbnail class="">
            <img src="/assets/testpic.jpg">
        </ion-thumbnail>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img width="80" height="80" src="/assets/testpic.jpg"></ion-img>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content>